{% extends "admin/change_list.html" %}

{% block pagination %}{% endblock %}

{% block result_list %}
<div class="jnv-opened">
{% include "includes/back_link.html" %}
<table class="jnv-directory">
  <thead>
    <tr><th>House</th></tr>
  </thead>
  <tbody>
    {% for house in house_list %}
    <tr>
      <td><a href="{% url 'admin:school_house_house_overview' house.pk %}">{{ house.name }}</a></td>
    </tr>
    {% empty %}
    <tr><td>No houses yet.</td></tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
